<div ng-controller="TaskDetailCtrl">

	<h2>Task: {{taskDetail.task}} [No. {{taskDetail.taskId}}]</h2>

	<br/>

	<form role="form">

		<div class="form-group">

			<input type="hidden" id="taskId" ng-model="taskDetail.taskId" value="{{taskDetail.taskId}}">

			<label for="task">Task</label>
			<div class="form-group">
				<input 	class="form-control" 
				id="task" 
				ng-model="taskDetail.task" 
				ng-change="buttontext='Update';buttonclass='btn btn-primary'"
				value="{{taskDetail.task}}">
			</div>

			<label for="created_at">Created at</label>
			<div class="form-group">
				<input 	class="form-control" 
				id="created_at" 
				ng-model="taskDetail.created_at" 
				ng-click="buttontext='Update';buttonclass='btn btn-primary'"
				value="{{taskDetail.created_at}}">
			</div>

			<label for="status">Status</label>
			<div class="form-group">
				<select ng-model="taskDetail.status" 
				ng-change="buttontext='Update';buttonclass='btn btn-primary'" 
				class="form-control">
				<option ng-selected="{{status.value == taskDetail.status}}"
				ng-repeat="status in statuses" 
				value="{{status.value}}">
				{{status.label}}
			</option>
		</select>
	</div>
	
	<button 
	id="button"
	class="btn btn-primary" 
	ng-class="buttonclass" 
	ng-click="updateTask();buttonclass='btn btn-success';buttontext='Saved'">
	{{buttontext}}
</button>

</div>

</form>

</div>